Flask==2.1.2
gunicorn==20.1.0
numpy==1.22.3
filesplit
boto3==1.9.235
botocore==1.12.253

pyyaml==5.1
#opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66

# Torch
#--find-links https://download.pytorch.org/whl/torch_stable.html
#torch==1.5.0+cu101
#torchvision==0.6.0+cu101

#--find-links https://download.pytorch.org/whl/torch_stable.html
#torch==1.10.1+cu111 
#torchvision==0.11.2+cu111

#--find-links https://download.pytorch.org/whl/torch_stable.html
#https://download.pytorch.org/whl/cpu/torch-1.0.0-cp37-cp37m-linux_x86_64.whl
#torch==1.0.0+cpu
#torchvision==0.2.1

# work for cpu
#-f https://download.pytorch.org/whl/cpu/torch_stable.html
#torch==1.10.0+cpu
#torchvision==0.11.0+cpu

-f https://download.pytorch.org/whl/cu110/torch_stable.html
torch==1.10.0+cu102
torchvision==0.11.0+cu102

# Detectron
#--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/index.html
#--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.10/index.html
#--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html
#--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.8/index.html

--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2
#git+https://github.com/facebookresearch/detectron2.git
#git clone https://github.com/facebookresearch/detectron2.git
#-e detectron2
